<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="Ads-CreatedOn-<%%VALUE(id)%%>" class=""><%%VALUE(CreatedOn)%%></td>
		<td id="Ads-NickName-<%%VALUE(id)%%>" class=""><%%VALUE(NickName)%%></td>
		<td id="Ads-Sex-<%%VALUE(id)%%>" class=""><%%VALUE(Sex)%%></td>
		<td id="Ads-Age-<%%VALUE(id)%%>" class="text-right"><%%VALUE(Age)%%></td>
		<td id="Ads-Status-<%%VALUE(id)%%>" class=""><%%VALUE(Status)%%></td>
		<td id="Ads-InterestedIn-<%%VALUE(id)%%>" class=""><%%VALUE(InterestedIn)%%></td>
		<td id="Ads-Pic1-<%%VALUE(id)%%>" class=""><%%VALUE(Pic1)%%></td>
		<td id="Ads-Pic2-<%%VALUE(id)%%>" class=""><%%VALUE(Pic2)%%></td>
		<td id="Ads-Pic3-<%%VALUE(id)%%>" class=""><%%VALUE(Pic3)%%></td>
		<td id="Ads-MoreInfo-<%%VALUE(id)%%>" class=""><%%VALUE(MoreInfo)%%></td>
		<td id="Ads-Contact-<%%VALUE(id)%%>" class=""><%%VALUE(Contact)%%></td>
